.contact_info {
    position: relative;
    width: 230px;
    flex: 0 0 230px;
    background: #002a43;
    color: #f6f6f6;
    margin-left: calc(-230px / 2 - 30px);
    padding: 25px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);

    .title {
      font-size: 24px;
      margin: 0px;
      font-weight: 400;
      margin-bottom: 30px;
    }
    .icons_wrapp {
      margin: 0px;
      padding: 0px;
      list-style: none;
      margin-bottom: 30px;
      li {
        display: flex;
        align-items: baseline;
        margin-bottom: 25px;
        .icon {
            vertical-align: middle;
            font-size: 24px;
            width: 32px;
            color: orange;
        }
        .text {
          vertical-align: middle;
          line-height: 1.4;
          font-size: 14px;
        }
      }
    }
    .soci_wrap {
      margin: 0px;
      padding: 0px;
      list-style: none;
      display: flex;
      position: absolute;
      bottom: 25px;
      li {
        margin: 0px 10px;
        a {
          color: #f4f4f4;
          text-decoration: none;
          transition: all 0.3s ease;
          font-size: 32px;
          &:hover {
            color: orange;
          }
          .material-icons-outlined {
            font-size: 32px;
          }
        }
      }
    }
  }


 .form_field {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .input_group {
        position: relative;
        margin-bottom: 25px;
        padding: 0 15px;
        &.w_50 {
          width: calc(50% - 30px);
          flex: 0 0 calc(50% - 30px);
        }
        &.w_100 {
          width: calc(100% - 30px);
          flex: 0 0 calc(100% - 30px);
        }

        .input {
          width: 100%;
          min-height: 30px;
          padding: 5px 0px;
          border: none;
          font-size: 18px;
          color: #444;
          outline: none;
          font-weight: 400;
          border-bottom: solid 2px #e9e9e9;
          &.input_textarea {
            min-width: 100%;
            min-height: 75px;
            max-height: 75px;
            max-width: 100%;
          }
          &:hover {
            border-bottom-color: #ddd;
          }
          &:focus {
            border-bottom-color: #aaa;
          }
          &:valid,
          &:focus {
            ~ .placeholder {
              top: -50px;
              font-size: 12px !important;
              color: #002a43;
              &.textarea {
                top: -12px;
              }
            }
          }
        }

        .placeholder {
          position: absolute;
          left: 15px;
          top: 0px;
          bottom: 0px;
          display: flex;
          align-items: center;
          font-size: 18px;
          color: #bbb;
          font-weight: 400;
          transition: all 0.3s ease;
          pointer-events: none;
          &.textarea {
            align-items: baseline;
          }
        }

        .btn {
          padding: 12px;
          border: none;
          border-radius: 0px;
          background-color: #002a43;
          color: white;
          min-width: 120px;
          outline: none;
          transition: all 0.3s ease;
          &:hover {
            background-color: darken(#002a43, 5%);
          }
          &:active {
            transform: scale(0.95);
          }
        }
      }
    }